/* Place your CSS styles in this file */

body {
    /* background-color: #ababa6;*/
    /* background-color: #6fbdbd;*/
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: linear-gradient(to right, #0e1c63, #a8a602);

}

@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  25%, 75% {
      transform: translateX(-5px);
  }
  50% {
      transform: translateX(5px);
  }
}

@keyframes verticalMove {
  0% {
      transform: translateY(50%);
  }
  100% {
      transform: translateY(-50%);
  }
}

  #game-area {
    /* background-color: pink;*/
    width: 80%; /* Beperkte ruimte voor het spel */
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0px solid black;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    /*animation: shake 2s ease-in-out infinite;*/

  }
  #word {
  font-size: 24px;
  background-color: #635721f0;
  border: 5px solid white;
  border-radius: 15px; /* Voeg afgeronde hoeken toe */
  color: white;
  padding: 10px 20px; /* Voeg wat ruimte tussen tekst en randen toe */
  text-align: center; /* Centreer de tekst binnen het element */
  margin-top: 20px; /* Voeg wat ruimte bovenaan toe */
  }

  #score-display {
  /* Voeg ruimte boven het score-display-element toe */
  margin-top: 10px; /* Pas de waarde aan zoals gewenst */
  color: #f2eddf;
  font-size: 18px;
}

  #instruction {
    color: #f2eddf;
    font-size: 24px;
    /*background-color: #06052a;*/
    background-color: #7f00ff;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
  }

  #instruction2 {
    color: #f2eddf;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 15px;
  }
  #buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.click-effect {
  transform: scale(1.2); /* Verander de schaal van de knop */
  transition: color 0.3s ease, transform 0.3s ease; /* Voeg overgangen toe */
  /* Voeg de oorspronkelijke grootte toe */
  width: auto;
  height: auto;


}



  #leftBtn, #rightBtn {
    background-color: transparent;
    padding: 10px 20px;
    font-size: 48px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 100px; /* Voeg een vaste breedte toe */
    height: 100px; /* Voeg een vaste hoogte toe */
    border: 0px solid white; /* Voeg witte rand toe */
  }
  #leftBtn {
    left: 0;
    animation: verticalMove 4s linear infinite;



  }
  #rightBtn {
    right: 0;
    animation: verticalMove 5s linear infinite;
    animation: shake 1s ease-in-out infinite;


  }
  .retry-button {
  background-color: rgb(115 219 1);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.retry-button:hover {
  background-color: #3d7608;
}
.next-level-button {
  background-color: black;
  /* width: 50%; /* Breedte van de knop is de helft van de oudercontainer */
  /* height: 30px; /* Hoogte van de knop in pixels */
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

  .correct {
    background-color: black !important;
    transform: scale(1.5);
  }
  .incorrect {
    background-color: #09f018 !important;
    transform: scale(1.5);
  }

  .correct-click::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 0%, rgba(255, 165, 0, 0.7) 80%); /* Oranje radiale gradiënt */
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease; /* Voeg een overgang toe voor het ontploffingseffect */
  }

  .correct-click:active::before {
    transform: scale(2); /* Schaal het pseudo-element om het ontploffingseffect te simuleren */
  }



#middleLine {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#diamonds-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .diamond {
    font-size: 16px;
    margin: 5px;
  }

  .mirrored {
      transform: scaleX(-1);
  }

